$font-family: 'Inter', sans-serif;

// Color
$white: #fff;
$black: #000;
$primary-color: #11293b;
$secondary-color: #d0ad37;
$background-color: #fff;
$background-settings: #e7e9eb;
$color-notification: #f67280;
$button-color: #D0AD37;